# grumphp.yml
grumphp:
    tasks:
        composer:
            strict: true
        composer_require_checker:
            config_file: require-checker-config.json
        phpcsfixer2:
            allow_risky: true
            config: .php-cs-fixer.php
        phpstan:
            configuration: phpstan.neon
            memory_limit: "768M"
        phpunit:
            metadata:
                priority: 100
            always_execute: true
